html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "GT-Walsheim";
}

address,
blockquote,
body,
button,
code,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
input,
legend,
li,
ol,
p,
pre,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}

img,
video {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-display: swap;
  font-family: "GT-Walsheim";
  src: url(/fonts/GT-Walsheim-Regular.woff2),
    url(/fonts/GT-Walsheim-Regular.woff);
  font-weight: 300;
}

@font-face {
  font-display: swap;
  font-family: "GT-Walsheim";
  src: url(/fonts/GT-Walsheim-Medium.woff2),
    url(/fonts/GT-Walsheim-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-family: "GT-Walsheim";
  src: url(/fonts/GT-Walsheim-Bold.woff2),
    url(/fonts/GT-Walsheim-Bold.woff);
  font-weight: 700;
}

.bug {
  background: #aedf78;
}

.water {
  background: #43ccff;
}

.grass {
  background: #00ca91;
}

.fire {
  background: #e95c4d;
}

.normal {
  background: #a5a5a5;
}

.poison {
  background: #611380;
}

.electric {
  background: #f9be00;
}

.ground {
  background: #bfac21;
}

.fairy {
  background: #f87ea7;
}

.fighting {
  background: #e81319;
}

.psychic {
  background: #8a0532;
}

.ghost {
  background: #8e55a4;
}

.rock {
  background: #776a3e;
}

.ice {
  background: #66d1e5;
}

.flying {
  background: #5eb9b2;
}

.dark {
  background: #2d221c;
}

.dragon {
  background: #29036a;
}


.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 94%;
  height: 94%;
  border-radius: 27px;
  border: 2px solid #fefefd;
}

.container_LandingPage {
  background: linear-gradient(118deg, #ffcb14 34.13%, #f7cf07 74.99%);
  box-shadow: 0 100px 186px rgba(196, 159, 7, 0.68);
}

.container_home {
  background: linear-gradient(108.99deg, #ef5661 34.13%, #fbbd37 74.99%);
  overflow-y: auto;
  box-shadow: 0 100px 186px rgba(196, 159, 7, 0.68);
}

@media (min-width: 500px) {
  .container {
    width: 500px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1000px;
    height: 562.5px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1160px;
    height: 652.5px;
  }

}

@media (min-width: 1400px) {
  .container {
    width: 1244px;
    height: 700px;
  }

}