.home {
  position: relative;
  height: 100vh;
  align-items: center;
  display: flex;
  overflow: hidden;
  background: linear-gradient(108.99deg, #ef5661 34.13%, #fbbd37 74.99%);
}

.column_ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 17px;
  gap: 17px;
  list-style: none;
  padding: 5%;
}

.filters_section {
  display: block;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width: 900px) {
  .filters_section {
    display: flex;
  }
}